---
import type {
  InferGetStaticPropsType,
  GetStaticPaths,
} from "astro";
import { getCollection } from "astro:content";
import Pagination from "@philnash/astro-pagination";

import Layout from "@layouts/Layout.astro";
import Post from "@components/Post.astro"

export const getStaticPaths = (async ({paginate}) => {
  const posts = (await getCollection("posts")).sort((a,b) => b.data.created.getTime() - a.data.created.getTime())
  const categories = [
    ...new Set(posts.map((post) => post.data.categories).flat()),
  ].sort((a, b) => a.localeCompare(b));
  
  return categories.flatMap(category => {
    const categoryPosts = posts.filter(post => post.data.categories.includes(category))
    return paginate(categoryPosts, {pageSize: 8, params: {category: category}})
  })
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props
const params = Astro.params
---

<Layout title={params.category}>
  <main>
    <section>
      <div class="section-header underlined">
        <h1>{params.category}</h1>
        <div><a href="/blog/">View all</a></div>
      </div>

      <div class="posts">
        {
          page.data.map(async (post) => <Post post={post} summary></Post>)
        }
      </div>
    </section>

    <div class="pagination">
      <Pagination page={page} urlPattern={`/blog/${params.category}/{}`} previousLabel="« Newer" nextLabel="Older »" /> 
    </div>
  </main>
</Layout>

<style>
  main {
    margin-inline: auto;
    max-width: 80ch;
  }
  
  .posts {
    display: grid;
    grid-gap: 1rem;
    max-width: 80ch;
  }
</style>
