---
import * as Consts from "src/constants";
import type {Build} from "@lib/replay-api.ts"

import CoreCard from "./CoreCard.astro";
import {getLatestBuildPerCore} from "@lib/replay-api.ts"

interface Props {
  platform: string;
}

const { platform } = Astro.props;

const builds = await getLatestBuildPerCore(platform)
---

<div>
  {builds.length === 0 && <div>No cores available.</div>}
  {    
    builds.map(build => <CoreCard core={build} showDetails={true} platform={platform} ></CoreCard>)
  }
</div>
